template(name='comments')
    .ui.segment
        .ui.header comments
        .ui.icon.button
            i.plus.icon
        .ui.comments
            each comments
                .comment
                    .avatar
        .ui.reply.form
            .field
                textarea#comment_reply(rows='3')
                .ui.submit.button
                    |submit
                    

