template(name='tools')
    .ui.centered.cards
        .card
            a.content(href="/calculator")
                .ui.icon.header 
                    i.calculator.icon
        .card
            a.content(href="/events")
                .ui.icon.header 
                    i.calendar.icon
        .card
            a.content(href="/tasks")
                .ui.icon.header 
                    i.calendar.check.icon
        .card
            a.content(href="/messaging")
                .ui.icon.header 
                    i.chat.icon
        .card
            a.content(href="/people")
                .ui.icon.header 
                    i.users.icon
                    