template(name='ad_block')
    .ui.segment
        .ui.header ads
        
        
template(name='ads')
    .ui.segment
        .ui.header ads
        +current_ad
        
        
template(name='current_ad')
    with current_ad
        |!{content}
        
        
template(name='edit_ad')
    .ui.segment
        .ui.header edit ad
        .ui.header clicks
        
template(name='ad_page')