template(name='ad_block')
    .ui.inverted.segment
        .ui.inverted.header ads
        
        
template(name='ads')
    .ui.inverted.segment
        .ui.header ads
        
        
template(name='edit_ad')
    .ui.inverted.segment
        .ui.header edit ad
        .ui.header clicks
        
template(name='ad_page')