template(name='bank')
    .ui.stackable.padded.grid
        .row
            .four.wide.column



template(name='stripe_connect')
    .ui.segment
        .ui.header
            i.stripe.icon
            | Payment
        if user_from_id_param.profile.stripe
            .ui.green.segment
                .ui.small.header Payment Account Connected
                // #removeStripe.ui.button Disconnect
                // #dashboardStripe.ui.blue.button(title="Used for refunds, declining payments and monitoring account transactions.") Stripe Dashboard
        else
            .ui.segment
                .ui.small.header No payment account connected.
                a#addStripe.ui.small.blue.button(href="#{stripe_settings.stripe_connect_redirect}#{stripe_settings.client_id}") Create or Connect An Account
                        
