template(name='comments')
    .ui.fluid.icon.input
        i.chat.icon
        input(type='text' placeholder='comment')
    .ui.comments
        each comments
            .comment
                .content
                    .header #{text}