template(name='comments')
    .ui.header 
        i.chat.outline.icon
        |Comments
    .ui.fluid.input
        input(type='text' placeholder='comment')
    .ui.comments
        each comments
            .comment
                .content
                    .header #{text}