template(name='comments')
    .ui.inverted.segment
        .ui.header 
            i.chat.outline.icon
            |comments
        .ui.fluid.transparent.input
            input(type='text' placeholder='comment')
        .ui.comments
            each comments
                .comment
                    .content
                        .header #{text}