template(name='bookmarks')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inverted.header blog
            .ui.icon.button.add_post
                i.plus.icon
        .twelve.wide.column
            each bookmarks
                +bookmark
                    
template(name='bookmark')
    .ui.fluid.card
        .content
            .ui.form
                +title
                +description
                +tags
        .content
            +edit_button
            