template(name='view_button')
    a.ui.icon.button.view(title='view' href="/view/#{_id}")
        i.play.icon
        
template(name='remove_button')
    a.ui.icon.button.remove(title='remove')
        i.remove.icon
        
        
        
template(name='edit_button')
    if editing
        .ui.button.save(title='save')
            i.checkmark.icon
            |save
    else
        a.ui.button.edit(title='edit' href="/edit/#{_id}")
            i.pencil.icon
            |edit
        
        
        
        