template(name='view_button')
    a.ui.icon.button.view(title='view' href="/view/#{_id}")
        i.play.icon
        
template(name='remove_button')
    a.ui.icon.button.remove(title='remove')
        i.remove.icon
        
template(name='add_button')
    a.ui.icon.button.add(title='add')
        i.plus.icon
        |#{type}
        

template(name='bookmark_button')
    .ui.button
        i.bookmark.icon
        |bookmark
        

template(name='clone_button')
    .ui.button
        i.fork.icon
        |clone


template(name='detect_fields_button')
    .ui.button.detect_fields
        i.dna.icon
        |detect fields
        
        
        
template(name='voting_buttons')
    .ui.icon.button
        i.thumbs.up.icon
    .ui.icon.button
        i.thumbs.down.icon
        
        
template(name='edit_button')
    a.ui.icon.button.edit(title='edit' href="/edit/#{_id}")
        i.pencil.icon

template(name='save_button')
    a.ui.icon.button.save(title='save' href="/view/#{_id}")
        i.checkmark.icon
        
        
        
        