template(name='conversations')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inverted.header conversations
            .ui.icon.button.add_conversation
                i.plus.icon
        .twelve.wide.column
            each conversations
                +conversation
                    
template(name='conversation')
    .ui.fluid.card
        .content
            .ui.form
                +title
                +description
                +tags
            +edit_button
            +view_button template='view_conversation'
    
    
template(name='view_conversation')
    .ui.inverted.header hi
    with viewing_doc
        .ui.header #{title}