template(name='edit')
    with editing_doc
        .ui.segment.container
            .content
                .ui.input
                    input.new_key(type='text' placeholder='new key name')
            .content
                each _keys
                    +field
                    
                    
                    
template(name='field')
    .ui.segment
        .ui.small.header #{this}
        .ui.input
            input.change_label(type='text')
        .ui.icon.button.remove_field
            i.remove.icon
                        
                
        

