template(name='edit')
    with editing_doc
        .ui.stackable.padded.grid
            .four.wide.column
            .twelve.wide.column
                .ui.segment
                    +ref_edit ref_type='single' key='type' schema='schema'
                    +ref_edit ref_type='multi' key='fields' schema='field'
                    |#{type}
                    each edit_doc_schema_fields
                        +Template.dynamic template="#{field_type}_edit"
                    div field_ids
                        each field_ids
                            |#{this}
                    .content
                        +edit_button
                        +author_info
                        +creation_info



