template(name='edit')
    with editing_doc
        .ui.stackable.padded.grid
            .four.wide.column
            .twelve.wide.column
                .ui.segment
                    +single_ref key='type' schema='schema'
                    |#{type}
                    each edit_doc_schema_fields
                        +Template.dynamic template=field_type
                    .content
                        +edit_button
                        +author_info
                        +creation_info


template(name='single_ref')
    each choices
        .ui.button.select_choice
            if icon
                i.icon(class=icon)
            |#{title}