template(name='footer')
    #footer.ui.inverted.fluid.segment.footer
        .ui.container
            .ui.stackable.inverted.divided.equal.height.stackable.grid
                .row
                    .four.wide.column
                        .item i'll show you what can be done a website
                        .item do we have the balls to do it this time?
                    .four.wide.column
                .centered.row
                    .ui.center.aligned.inverted.header
                        i.copyright.icon
                        | 2018 dao
            