template(name='front')
    #main.ui.fluid.inverted.center.aligned.segment
        .white_bat.big DAO
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .white_bat.sub #{subtext}
        
        
template(name='login')
    #main.ui.fluid.inverted.center.aligned.segment
        .ui.huge.inverted.header login
        .ui.inverted.fluid.center.aligned.segment
            .ui.inverted.transparent.huge.input
                input(type='text' placeholder='username')
            