template(name='front')
    .ui.fluid.inverted.center.aligned.segment
        .white_bat.big DAO
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .white_bat.sub #{subtext}