template(name='front')
    #main.ui.fluid.inverted.center.aligned.segment
        .white_bat.big DAO
        .ui.hidden.divider
        .ui.hidden.divider
        .ui.hidden.divider
        .white_bat.sub #{subtext}
        
        
template(name='login')
    .ui.centered.grid
        .row
            .ten.wide.column
                .ui.fluid.inverted.center.aligned.segment
                    .white_bat.sub
                        |DAO
        .row
            .ten.wide.column
                .ui.inverted.fluid.input(class=login_class)
                    input.username(type='text' placeholder='username')
                .ui.hidden.divider
                .ui.inverted.fluid.input(class=login_class)
                    input.password(type='password' placeholder='password')
        .row
            .ten.wide.column
                .ui.inverted.fluid.icon.large.button.login(class=login_class)
                    i.play.icon
                
            