template(name='home')
    .ui.stackable.grid
        .row
            // .twelve.wide.column.padleft.scrolling(class=delta_left_column_class)
            .six.wide.column.padleft.scrolling
                unless is_loading
                    // .ui.divider
                    // // each sessions
                    // //     .ui.icon.large.button.select_session(class=session_selector_class title='select session')
                    // //         i.play.icon
                            
                    if current_delta
                        if is_dev
                            .ui.icon.button.print_delta(title='Print Session Doc')
                                i.code.icon
                                // |Print Session
                            .ui.reset.icon.button(title='Reload Session')
                                i.refresh.icon
                                // |Reload Session
                            .ui.delete_delta.icon.button(title='Delete Session')
                                i.trash.icon
                                // |Delete Session
                    else
                        .create_delta.ui.button.pointer(title='new session')
                            i.plus.icon
                            |Create Session
                // |did: #{session_delta_id}
                        
                each current_delta.facets
                    +facet
            // .column(class=delta_right_column_class)
            .ten.wide.column
                .scrolling
                    each current_delta.result_ids
                        +result
            
