template(name='home')
    .ui.stackable.grid
        .row
            // .twelve.wide.column.padleft.scrolling(class=delta_left_column_class)
            .eight.wide.right.aligned.column
                unless is_loading
                    // .ui.divider
                    // // each sessions
                    // //     .ui.icon.large.button.select_session(class=session_selector_class title='select session')
                    // //         i.play.icon
                // |did: #{session_delta_id}
                        
                each current_delta.facets
                    +facet
                if is_dev        
                    if current_delta
                        .ui.icon.basic.inverted.button.print_delta(title='Print Session Doc')
                            i.code.icon
                        .ui.reset.icon.basic.inverted.button(title='Reload Session')
                            i.refresh.icon
                        .ui.delete_delta.icon.basic.inverted.button(title='Delete Session')
                            i.trash.icon
                    else
                        .create_delta.ui.button.pointer(title='new session')
                            i.plus.icon
                            |session
            .eight.wide.column
                if single_doc
                    each current_delta.result_ids
                        +result
                
            
