template(name='import')
    +nav
    .ui.hidden.divider
    .ui.container
        .ui.header Upload CSV
        .ui.input
            input.upload(type='file')
        .ui.header Import Subreddit
        .ui.input
            input.import_subreddit(type='text')
        
    