template(name='inbox')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                i.inbox.icon
            .twelve.wide.column
                each my_messages
                    .ui.segment 
