template(name='library')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inverted.header blog
            .ui.icon.button.add_item
                i.plus.icon
        .twelve.wide.column
            each items
                +item
                    
template(name='item')
    .ui.fluid.card
        .content
            .ui.form
                +title
                +description
                +tags
        .content
            +edit_button
            