template(name='mail')
    .ui.stackable.centered.padded.grid
        .four.wide.column
            .ui.vertical.menu
                a.item(href="/mail/inbox") 
                    |inbox
                    i.inbox.icon
                .item 
                    |drafts
                    i.edit.icon
                .item 
                    |sent
                    i.send.icon
                .item 
                    |archived
                    i.archive.icon
        .twelve.wide.column
            .ui.header facet: an ai-driven crossplatform interdimensional token cryptocurrency cafe latte full stack decentralized exchange marketplace social network 
            .ui.header build worlds 
            each messages
                +message
        
        