template(name='mail')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inverted.header mail
            .ui.icon.button.add_entry
                i.plus.icon
        .twelve.wide.column
            each messages
                +message
                    
template(name='messages')
    .ui.fluid.card
        .content
            .ui.form
                +title
                +description
                +tags
        .content
            +edit_button
            +author_info
            +creation_info
            