template(name='me')
    .ui.four.column.stackable.padded.inverted.grid
        .column.logout.pointer
            .ui.icon.inverted.header
                i.sign.out.alternate.icon
                |Sign Out