template(name='nav')
    .ui.top.fixed.inverted.menu
        a.icon.item
            i.bars.icon
        a.item(href="/")
            .bat DAO
        // .ui.transparent.inverted.input.item
        //     input#in(type='text' placeholder='search')
        // a.icon.item.delete_session(title='clear session')
        //     i.remove.icon
        // a.icon.item.show_session
        //     i.code.icon
        // a.icon.item.reload
        //     i.refresh.icon
        a.icon.item(href="/tickets" title='Tickets')
            i.large.ticket.icon
        a.icon.item(href="/delta" title='Delta')
            i.large.code.icon
        a.icon.item(href="/marketplace" title='Marketplace')
            i.large.cart.icon
        a.icon.item(href="/events" title='Events')
            i.large.rss.icon
        a.icon.item(href="/services" title='Services')
            i.large.paint.brush.icon
        if currentUser
            a.icon.item.add_doc
                i.plus.icon
            a.icon.item
                i.bell.icon
            a.icon.item
                i.envelope.icon
            a.item
                i.user.icon
                | #{currentUser.username}
        else
            a.icon.item
                i.sign.in.alternate.icon
        .item
            +loginButtons

