template(name='nav')
    .ui.attached.borderless.inverted.menu
        a.header.item(href='/')
            |DAO
        .icon.item.add_doc
            i.plus.icon
        if currentUser
            .right.menu
                a.icon.item.toggle_topbar(href='#')
                    i.bell.icon
                a.item(href='/dash')
                    i.dashboard.icon
                a.item.toggle_rightbar(href='#')
                    i.user.icon
                    |#{currentUser.username}
        else
            .right.menu
                a.item(href='/enter')
                    i.sign.in.icon