template(name='nav')
    .ui.top.fixed.inverted.borderless.menu
        a.header.icon.item.home.pointer(href='/')
            .black_bat.logo DAO
        if is_loading
            .ui.item
                i.loading.refresh.icon
        .right.menu
            a.item.add(href='#')
                i.plus.icon
            a.item.reset(href='#')
                i.refresh.icon
            a.item.print_delta(href='#')
                i.code.icon
            if currentUser
                .pointer.me.item
                    if currentUser
                        i.user.icon
                        | #{currentUser.username}
                .pointer.icon.item.logout
                    i.sign.out.alternate.icon
            // if current_delta
                // h2.ui.header 
                //     if current_module.icon
                //         i.icon(class=current_module.icon)  
                //     | #{current_module.title}
                // .pointer.icon.item.add_doc
                //     i.plus.icon
                // .pointer.icon.item.delete_delta
                //     i.remove.icon
                // .pointer.icon.item.print_delta
                //     i.code.icon
                // .pointer.icon.item.recalc
                //     i.refresh.icon


    
template(name='footer')
    .ui.bottom.fixed.inverted.small.menu
        .item.black_bat
            i.creative.commons.outline.icon
            | DAO
        .right.menu
            .item
                +donate
                    
template(name='donate')
    form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
        input(type='hidden', name='cmd', value='_s-xclick')
        input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
        // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
        img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
        button.ui.inverted.basic.button(type='submit')
            |donate
