template(name='nav')
    .ui.borderless.icon.big.menu
        a.header.icon.item(href='/' class="{{isActiveRoute 'home'}}")
            i.home.icon
            // |facet
        // .item
        //     |facking everything
        // .ui.icon.transparent.input
        //     i.search.icon
        //     input#query(type='text')
        a.icon.item(href='/blocks' class="{{isActiveRoute 'blocks'}}")
            i.bitcoin.icon
        a.icon.item(href='/people' class="{{isActiveRoute 'people'}}")
            i.users.icon
        if currentUser
            .ui.icon.small.transparent.input
                // i.plus.icon
                input#quick_add(type='text' placeholder='quick add tags')
                i.lightning.icon
            .right.menu
                a#add_doc.item
                    i.plus.icon
                a.icon.item(href="/user/#{currentUser.username}/dashboard" class="{{isActiveRoute 'dashboard'}}")
                    i.line.chart.icon
                a.icon.item(href="/transactions" class="{{isActiveRoute 'transactions'}}")
                    i.exchange.icon
                a.icon.item(href="/store" class="{{isActiveRoute 'store'}}")
                    i.shopping.cart.icon
                a.icon.item(href="/conversations" class="{{isActiveRoute 'conversations'}}")
                    i.comments.icon
                a.item(href="/user/#{currentUser.username}/karma" class="{{isActiveRoute 'karma'}}")
                    |#{currentUser.points}
                a.icon.item(href='/mail' class="{{isActiveRoute 'mail'}}")
                    i.mail.icon
                a.icon.item(href='/notifications' class="{{isActiveRoute 'notifications'}}")
                    i.bell.icon
                a.ui.icon.dropdown.item(href="/user/#{currentUser.username}" class="{{isActiveRoute 'profile'}}")
                    i.user.icon
                    .menu
                        .item test
                a#logout.ui.icon.item(href='#') 
                    i.sign.out.icon
        else
            a.ui.icon.item(href='/sign-in') 
                i.sign.in.icon
