template(name='nav')
    .ui.inverted.borderless.icon.stackable.menu
        a.header.item(href='/' class="{{isActiveRoute 'home'}}")
            // i.home.outline.icon
            |facet
        // .ui.icon.inverted.transparent.input
        //     i.search.icon
        //     input#query(type='text')
        // a.icon.item(href='/blocks' class="{{isActiveRoute 'blocks'}}")
        //     i.bitcoin.icon
        // a.icon.item(href='/library' class="{{isActiveRoute 'library'}}")
        //     i.book.outline.icon
        .right.menu
            if currentUser
                // .ui.icon.input
                //     // i.plus.icon
                //     input#quick_add(type='text' placeholder='add')
                //     i.lightning.icon
                a#add_doc.item
                    i.plus.outline.icon
                a.icon.item(href="/u/#{currentUser.username}/dashboard" class="{{isActiveRoute 'dashboard'}}")
                    i.dashboard.outline.icon
                a.item(href="/u/#{currentUser.username}/karma" class="{{isActiveRoute 'karma'}}")
                    |#{currentUser.points}
                // a.icon.item(href='/mail' class="{{isActiveRoute 'mail'}}")
                //     i.mail.outline.icon
                // a.icon.item(href='/notifications' class="{{isActiveRoute 'notifications'}}")
                //     i.bell.outline.icon
                a.icon.item(href="/u/#{currentUser.username}" class="{{isActiveRoute 'profile'}}")
                    i.user.outline.icon
                a#logout.ui.icon.item(href='#') 
                    i.sign.out.outline.icon
            else
                a.ui.icon.item(href='/sign-in') 
                    i.sign.in.outline.icon
