template(name='nav')
    .ui.top.attached.inverted.borderless.menu
        a.header.icon.item.home.pointer(href='/')
            .black_bat.logo DAO
            // i.user.shield.large.icon
        if is_loading
            .ui.item
                i.loading.refresh.icon
        if is_dev
            a.item.add(href='#')
                i.plus.icon
            a.item.print_delta(href='#')
                i.code.icon
        a.item(href='/import' title='import')
            i.upload.icon
        .right.menu
            if currentUser
                a.me.item(href='/me')
                    if currentUser
                        i.user.icon
                        | #{currentUser.username}
                a.icon.item.logout(href="#")
                    i.sign.out.alternate.icon
            else
                a.icon.item(href="/enter")
                    i.sign.in.alternate.icon

    
template(name='footer')
    .ui.bottom.fixed.inverted.small.menu
        .item
            i.creative.commons.outline.icon
            | DAO
        .right.menu
            form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                input(type='hidden', name='cmd', value='_s-xclick')
                input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
                // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                button.ui.inverted.basic.button(type='submit')
                    |Donate
        // +donate
                    
template(name='donate')
