template(name='nav')
    .ui.attached.borderless.large.menu
        a.header.item(href='/')
            if dark_side
                .black_bat.logo DAO
            else
                .ui.header DAO
        a.icon.item(href='/people')
            i.users.icon
        a.item.invert(href='#')
            i.user.shield.icon
        a.item(href='/dash')
            i.dashboard.icon
        if currentUser
            .right.menu
                a.icon.item.add_doc(href='#')
                    i.plus.icon
                a.icon.item(href='#')
                    i.bell.icon
                a.item(href='/me')
                    i.user.icon
                    |#{currentUser.username}
                a.item.logout(href='#')
                    i.sign.out.icon
        else
            .right.menu
                a.item(href='/enter')
                    i.sign.in.icon