template(name='nav')
    .ui.inverted.top.fixed.large.borderless.menu
        a.icon.item.delta(href='#')
            // i.fas.fa-yin-yang.fa-2x
            i.shield.alternate.icon
        .item
            +loginButtons
        a.item.create_delta(href='#')
            i.plus.icon
            | Session
        each my_deltas
            a.item.select_delta 1 #{title}
        // .item
        //     .ui.transparent.input.item
        //         input#in(type='text' placeholder='search')
        if currentUser
            a.item.add_doc
                i.plus.icon
                | New
        .right.menu
            if currentUser
                a.icon.item.inbox(href='#')
                    i.inbox.icon
                a.icon.item.alerts(href='#')
                    i.bell.icon
            if currentUser
                .item
                    i.user.icon
                    | #{currentUser.username}
                a.icon.item.logout(href='#')
                    i.sign.out.alternate.icon
            else
                .icon.item
                    i.sign.in.alternate.icon
   
   
template(name='history')   
    .ui.header History
    .ui.breadcrumb
        a.section Home
        .divider  / 
        a.section Store
        .divider  / 
        .active.section T-Shirt


