template(name='inbox')
    .ui.header 
        i.inbox.icon
        | Inbox
    
    
template(name='alerts')
    .ui.header 
        i.bell.icon
        |Alerts
    
    
template(name='crm')
    .ui.header 
        i.users.icon
        | Users
    
    
    
    
    