template(name='inbox')
    .ui.header 
        i.inbox.icon
        | Inbox
    
    
template(name='alerts')
    .ui.header 
        i.bell.icon
        |Alerts
    
    
template(name='crm')
    .ui.header 
        i.users.icon
        | Users
    
    
template(name='schemas')
    .ui.header 
        i.database.icon
        | Schemas
    .ui.button.add_schema
        i.plus.icon
        | Schema
    each schemas
        .ui.header #{title}
    
    
template(name='login')    
    .ui.header login
    +loginButtons
    
    
template(name='profile')
    .ui.header Profile
    with currentUser
        .ui.header #{username}
    .ui.dividing.header
        | Account
    .ui.button
        | Free
    .ui.button
        | Pro
    .ui.button
        | Business
        
        