head
    title dao
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name="theme-color", content="#000")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet")



template(name='layout')
    .ui.padded.grid
        +nav
        // #main
        +yield
    +footer


template(name='nav')
    .centered.row
        .four.wide.center.aligned.column
            a.ui.icon.button.add(href='#' title='add')
                i.plus.icon
        .eight.wide.center.aligned.column
            a.header.icon.home.pointer(href='/')
                // .black_bat.logo D
                i.user.shield.big.grey.icon
        .four.wide.center.aligned.column
            .right.menu
                if currentUser
                    .ui.button
                        if currentUser
                            i.user.icon
                            | #{currentUser.username}
                    a.icon.ui.icon.button.logout(href="#")
                        i.sign.out.alternate.icon
                else
                    a.icon.ui.icon.button(href="/enter")
                        i.sign.in.alternate.icon


template(name='footer')
    #footer.ui.bottom.fixed.menu
        .grey.item
            i.creative.commons.outline.icon
            | DAO
        if is_dev
            .icon.item.refresh_stat
                i.link.refresh.icon
        with site_stat
            .item
                |#{doc_count} docs
            .item
                |#{user_count} users
        .right.menu
            form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                input(type='hidden', name='cmd', value='_s-xclick')
                input(type='hidden', name='hosted_button_id', value='AUVHGYNUW5LVE')
                // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                button.ui.basic.button(type='submit')
                    | Advertise 
        