template(name='task')
    .ui.fluid.card
        .content
            .ui.form
                +title
                +description
                +tags
        .content
            +edit_button
            +author_info
            +creation_info


template(name='schema')
    .ui.fluid.card
        .content
            .ui.form
                +title
                +description
                +tags
                +children type='field' label='fields'
        .content
            +edit_button
            +author_info
            +creation_info


