body {
  font-family: 'Ubuntu', sans-serif !important;
  /*min-height: 500px;*/
/*  min-height: 100%;*/
  filter: invert(100%);
  font-size: 120% !important;
  line-height: 200% !important;
  background: #262626 !important
  /*background: lightgrey !important*/
}

.ui.button, .ui.label{
  margin:.1em !important;
}


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.scrolling{
  overflow-y:scroll;
  overflow-x:hidden;
  max-height:500px;
  padding: 1em;
}

