body {
  font-family: 'Ubuntu', sans-serif !important;
  /*min-height: 500px;*/
/*  min-height: 100%;*/
  filter: invert(100%);
  /*font-size: 110% !important;*/
  /*line-height: 120% !important;*/
  background: #262626 !important
  /*background: lightgrey !important*/
}
