.ui.button, .ui.label.tag
    margin-top  .1em !important
    margin-bottom  .1em !important

.meta .ui.button
    margin  .2em !important

.user_tag, .doc_tag  
    margin  .1em !important

body
    // background #333333 !important
    // background ##767676 !important
    // background #808080 !important
    background black !important
    // background #faf5eb !important //lighter eggshel
    // font-size 150% !important
    line-height 2em
    // margin-top 6em


.large-text
    font-size 130% !important
    // font-size 130% !important
    

.-autocomplete-container
    margin-top 12px
    
    
body    
    font-family 'Ubuntu', sans-serif
    