template(name='tasks')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inverted.header tasks
            .ui.icon.button.add_task
                i.plus.icon
        .twelve.wide.column
            each tasks
                +task
                    
template(name='task')
    .ui.fluid.card
        .content
            .ui.form
                +title
                +description
                +tags
        .content
            +edit_button
            