template(name='time')
    .ui.stackable.padded.grid
        .four.wide.column
            .ui.inverted.header time
            .ui.icon.button.add_entry
                i.plus.icon
        .twelve.wide.column
            each entries
                +entry
                    
template(name='entry')
    .ui.fluid.card
        .content
            .ui.form
                +title
                +description
                +tags
        .content
            +edit_button
            +author_info
            +creation_info
            