template(name='tools')
    h1.ui.center.aligned.inverted.header tools
    .ui.centered.cards
        a.card(href='/miner')
            .content
                .header miner calc
        a.card(href='/miners')
            .content
                .header miners
        a.card(href='/blocks')
            .content
                .header block explorer
            
            
            
template(name='miner_calc')
    h1.ui.center.aligned.inverted.header miner calc



template(name='miners')
    h1.ui.center.aligned.inverted.header miners
    .ui.stackable.grid
        .four.wide.column
            #add_miner.ui.button add miner
        .twelve.wide.column
            each miners
                .ui.fluid.card
                    .content
                        .header name

