template(name='view')
    with doc
        .ui.stackable.padded.grid
            .four.wide.column
                .ui.segment
                    +author_info
                    +creation_info
                    a.ui.fluid.button(href="/edit/#{_id}")
                        i.pencil.icon
            .twelve.wide.column
                each _keys
                    +field_view


template(name='field_view')
    .ui.segment 
        .ui.header #{this}
        +Template.dynamic template=brick_view