template(name='view')
    +nav
    with doc
        .ui.stackable.padded.grid
            .row
                .twelve.wide.column
                    with doc
                        +watson_view
                .four.wide.column
                    .ui.segment
                        +call_watson
                        +doc_sentiment
                        +doc_emotion
                        +concepts
                        +categories
                        +entity_list
                        +entities
                        +personality
                        +consumption_preferences
                    .ui.segment
                        +author_info
                        +creation_info
                        a.ui.fluid.button(href="/edit/#{_id}")
                            i.pencil.icon
                    .ui.segment
                        +clone_button
                        +detect_fields_button
                    .ui.segment
                        +bookmark_button
                        +voting_buttons
                    +comments
                    // .ui.segment
                    //     each _keys
                    //         +field_view
            // .row
            //     .sixteen.wide.column

template(name='field_view')
    .item   
        .content
            .header #{this}
            .description
                +Template.dynamic template=brick_view