template(name='login')
    .ui.padded.stackable.grid.register-body
        .centered.row
            .ten.wide.column
                .shadowed-box
                    .ui.center.aligned.large.header 
                        |login
                    form.ui.large.form#login
                        .field(class=login_class)
                            label
                                +icolor name='gender-neutral-user' classes='ui mini inline image'
                                | Username
                            input#username(type='text' autofocus='')
                        .field(class=login_class)
                            label
                                +icolor name='password' classes='ui mini inline image'
                                | Password
                            input#password(type='password' placeholder='******')
                        .ui.hidden.divider
                        button#submit.ui.fluid.circular.button(type='submit' class=enter_class title='Submit')
                            i.sign.in.icon
                            strong login
                    .ui.basic.center.aligned.segment        
                        .ui.horizontal.relaxed.list
                            a.item(href='/signup')
                                i.sign.in.icon
                                |signup
                            a.item(href='/forgot-password') 
                                i.refresh.icon
                                |forgot password
                            // +socialLoginButtons
                        
                        
                        
template(name='logout')
    +splash
                        
                        
                        
template(name='forgot_password')
    .ui.padded.stackable.grid.register-body
        .centered.row
            .twelve.wide.column
                .ui.segment
                    .ui.center.aligned.header
                        i.forgot-password.icon
                        |reset password
                    form#forgotPasswordForm(action='#')
                        .form-group
                            label.control-label(for='username') email
                            input#username.form-control(type='email', placeholder='example@gmail.com', title='Please enter you username', required='', value='', name='username', autofocus='')
                        button#reset.ui.teal.fluid.button(type='submit')
                            i.submit-progress.icon
                            |send reset link
                        .ui.horizontal.relaxed.list
                            a.item(href='/signup')
                                i.add-user-male.icon
                                |signup
                            a.item(href='/signin') 
                                i.login-rounded-down.icon
                                |signin


template(name='reset_password')
    .ui.container
        h3 reset your password?
        .ui.basic.segment
            form.ui.form#resetPasswordForm
                .field
                    label(for='Password') password
                    input#resetPasswordPassword.form-control.validationRequired.validationEqualTo(type='password', placeholder='password', name='password')
                .field
                    label(for='CPassword') confirm password
                    input#resetPasswordPasswordConfirm.form-control.validationRequired.validationEqualTo(type='password', euqalto='#resetPasswordPassword', placeholder='confirm password', name='confirmpassword')
                button.ui.fluid.green.button(type='submit') submit
                a(href='/signin') login
                        
