template(name='checkin')
    .ui.stackable.padded.grid
        .centered.row
            .twelve.wide.column
                .ui.center.aligned.inverted.header Gold Run Health Club Check In
                .ui.input
                    input(type='text' placeholder='username')
                .ui.input
                    input(type='text' placeholder='username')
