template(name='user_blog')
    .ui.header 
        i.tasks.icon
        |User Blog
    each user_posts
        .ui.segment
            .ui.header #{title}
            .ui.header #{body}
            each tags
                .ui.label #{this}
            +voting
            +author_info
            +creation_info
            +watson_view
            
