template(name='user_tags')
    .ui.inline.header 
        i.tags.icon
        |User Tags
    each tags
        .ui.basic.label 
            if is_user
                i.remove.link.icon.remove_tag
            |#{this}
    // .ui.fluid.input
    //     input.tag_user(type='text' placeholder='Tag yourself...')
    // .ui.fluid.input
    //     input(type='text' placeholder="Tag #{user_from_username_param.name}")
            
template(name='user_messages')
    .ui.inline.header 
        i.mail.icon
        |User Messages
            
            
template(name='user_notifications')
    .ui.inline.header 
        i.bullhorn.icon
        |User Notifications